@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
 {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
}

::- webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --colorFg1: #888;
  --colorFg2: #6b7684;
  --colorFg3: #fff;
  --colorBg1: #191f28;
  --colorBg2: #111;

  --shadow-modal: rgba(0, 0, 0, 0.09) 0px 3px 12px 0px;
  --radius1: 10px;
  --radius2: 20px;
  --radius3: 40px;

  --bpPcSuper: 1339;
  --bpPc: 1024;
  --bpTablet: 768;
  --bpPhoneMedium: 576;
  --pbPhoneSmall: 325;

  --primary: #5c5c5c;
  --secondary: #1a1a1a;
}

/* Dark Backround for Global */
html,
body,
#__next {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /* color: rgb(118, 118, 118);
  background-color: #1c2128; */
}

/* Common */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

@font-face {
  font-family: "NotoSansLao";

  src: url("/fonts/NotoSansLao-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "peaceSans";

  src: url("/fonts/PeaceSans.ttf") format("truetype");
}

@font-face {
  font-family: "morganSemiBold";

  src: url("/fonts/Morganite-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "morganBold";

  src: url("/fonts/Morganite-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "morganExtraBold";

  src: url("/fonts/Morganite-ExtraBold.ttf") format("truetype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Oswald 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

/* ==Global== */
* {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

/* Header */
.side-canvas {
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100rem;
  width: 100%;
  background-color: #1c1c20;
  z-index: 50;
  padding: 2rem;
}

.side-canvas.open {
  transform: translateX(0%);
}

header {
}

.header-nav {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  backdrop-filter: blur(7px) saturate(180%);
}

.dark .header-nav {
  background-color: rgba(32, 32, 36, 0.7);
}

.nav-bar {
  background-color: #1f2937;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nav-container {
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-container {
  flex-shrink: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 0.5rem;
}

.logo-text1 {
  font-family: "MorganExtraBold", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  color: white;
}

.logo-text2 {
  font-family: "MorganExtraBold", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
}

/* Footer */
footer {
  display: block;
  min-height: auto;
  background-color: var(--colorBg2);
}

footer * {
  color: var(--colorFg1);
}

.inner_footer {
  padding: 15px 0;
  display: block;
}
.section_terms-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 12px;
}

/* main */

body {
  padding: 0;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh; /* 화면 높이 최소값 */
}

#__next {
  min-height: 100vh; /* 화면 높이 최소값 */
}

main {
  min-height: calc(100vh - 165px); /* 화면 높이에서 header와 footer 높이 제외 */
  padding-top: 68px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* chatMain - answer 내 답변 간 문단구분 스타일 적용 */

.answer-p + * {
  margin-top: 30px;
}

/* tail */

/* [[ Tailwind Apply Classes ]] */

@layer base {
  /* 기본 스타일을 정의합니다. 이 레이어에 속하는 스타일은 기본적으로 Tailwind의 reset (Preflight) 이후에 적용됩니다. 예를 들어, HTML 요소의 기본 스타일을 설정하거나 오버라이드 할 때 이 레이어를 사용합니다.*/
  h1 {
    @apply text-black font-extrabold text-6xl;
  }

  h2 {
    @apply text-black font-extrabold text-5xl;
  }

  .dark h1,
  .dark h2 {
    @apply text-white;
  }

  body {
    @apply text-black font-normal text-sm;
  }

  button {
    @apply text-black font-medium text-sm;
  }

  .dark button {
    @apply text-white;
  }

  label,
  input,
  textarea,
  select {
    @apply text-black text-sm font-normal;
  }

  .dark body {
    @apply text-white font-normal text-sm;
  }

  .dark label,
  .dark input,
  .dark textarea,
  .dark select {
    @apply text-white;
  }
}

@layer components {
  /* 재사용 가능한 UI 컴포넌트의 스타일을 정의합니다. base 레이어 이후, 그리고 utilities 레이어 전에 적용됩니다. */
  .mypage-box {
    @apply border rounded m-4 w-4/5 h-96;
  }
}
@layer utilities {
  /* 유틸리티 클래스를 정의하거나 확장합니다. 이 레이어의 스타일은 가장 마지막에 적용되므로, base와 components 레이어의 스타일을 오버라이드 할 수 있습니다. */

  .tw-h1 {
    @apply font-notoSansKR font-extrabold text-7xl;
  }
}

.tw-h2 {
  @apply font-notoSansKR font-extrabold text-5xl;
}

.tw-subtitle {
  @apply font-notoSansKR font-bold text-3xl;
}

.tw-body1 {
  @apply font-notoSansKR font-normal text-sm;
}

.tw-body2 {
}

/* components
.tw-h2 .tw-btn {
  @apply px-4 py-2 bg-blue-500 text-white font-bold rounded;
} */
